div.main, div.center-block {
  height: 100%;
}

div.main {
  display: table;
  margin: auto;
}

div.main div.center-block {
  display: table-cell;
  vertical-align: middle;
}

textarea {
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: 1.2em;
  width: 100%;
  border: 0px;
  outline: none;
  resize: none;
  overflow: hidden;
}

#textDisplay {
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: 1.2em;
}
