
textarea {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  width: 100%;
  border: 0px;
  outline: none;
  resize: none;
  overflow: hidden;
}

#textDisplay {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
}
